.footer {
	background-color: #242424;
	padding: 83px 130px 90px 90px;
	margin: 11px;

	&__info {
		font-family: 'Playfair Display', serif;
		font-size: 14px;
		color: #fff;
		width: 300px;
		display: inline-block;
		line-height: 15px;
		color: #cacaca;
		
	}

	&__copy {
		display: block;
		line-height: 24px;

		&_dash {
			text-decoration: underline;
			display: inline;
		}
	}

	&__contacts {
		margin: 27px 0 27px 0;
		display: block;
		
		&_dash {
		text-decoration: underline;
		display: inline;
		}
	}

	&__address {
		color: #767676;
		display: block;
		line-height: 24px;
	}

	&__container {
		display: inline-block;
		float: right;
	}

	&__menu {
		display: inline-block;
		vertical-align: top;
		margin-right: 126px;
	}

	&__add-menu {
		display: inline-block;
		margin-right: 86px;
	}

	&__social {
		display: inline-block;
	}
}