@import 'header.less';
@import 'indexMain.less';
@import 'footer.less';
@import 'catalog.less';
@import 'item.less';
@import 'adaptive.less';

.clearfix {
	&:before{
		content: '';
		display: table;
	}
	&:after {
		content:'';
		display: table;
		clear: both;
	}
}

h1, h2, h3, h4, h5, h6, ul, p {
	margin: 0;
	padding: 0;
}